:root{
    --preto:#000000
    --branco-principal:#FFFFFF
    --zinza:#D9D9D9
    --azul pincipal:#80a1C8
    --azul mist:2174A3
    --2400B6
    --421C1C
    --547EEB
    --5F8AB3
    --6C89D6
    --
    --
}

body{






{
    margin:;
    margin