:root{
    --preto: #000000;
    --branco-principal: #FFFFFF;
    --zinza: #D9D9D9;
    --azul-pincipal: #80a1C8;
    --azul-mist: #2174A3;
    --azul-escuro: #2400B6;
    --marrom: #421C1C;
    --cor-de-fundo: #547EEB;
    --azul-legal: #5F8AB3;
    --Azul-roxo: #6C89D6;
    --rosa: #D4D0FF;
    --pele: #EADCDC;
    --branco-mais: #FFF5F5;
    --azul-brnco: Linear;
    }
 
body{
   background-color: var(--cor-de-fundo);
   color: var(--azul-escuro);
 

}


* {
    margin: 0;
    padding: 0;
   
}

.principal{
    background-image: url("img/81dafd468a5dbb0feaa8828b4509be351.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.container{
    height: 100vh;
    display:
}

.container__botao {
    background-color: var(--preto);
    border-radius: 5px;
    padding: 1em;
    color: var(--azul-pincipal);
    display: block;
}